
<head>
    <title>δημητρίου μηχανικοί &mdash; υπηρεσίες πολιτικών μηχανικών</title>
    <link rel="icon" href="logo.png" alt="white stylized de on grey background - the company logo" title="return home">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- <script src="trial.js"></script> -->
</head>

<body>

    <div class="header">
    <a href="../espa.pdf"><img class="large" src="../LOGOS/espa-en.png" alt="espa banner" width="450"></a>
    <br>
    <br>
    <p>Demetriou Engineering ltd</p>
    <p class="header2">d-e@d-e.gr — +30 2107759865</p>
    </div>

    <div class="navbar">
        <a href="index.html" title="return home"><img src="../LOGOS/logo.png" class="logo" alt="white stylized de on grey background - the company logo" title="return home"></a>
            <ul>
                <li class="active"><a href="index.html" title="go to projects">εργα</a></li>
                <li><a href="services.html">υπηρεσιες</a></li>
                <li><a href="contact.html" title="go to contact page">επικοινωνια</a></li>
            </ul>
    </div>

    <div class="main">

        <!-- 1.PROJECT T300  -->
        <div class="project horizontal_one" id="elounda">
            

            <img class="large" src="../PHOTOS/T300small.png" alt="TP300 system" width="460">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Σκοπός:</strong>Σύστημα παρακολούθησης νομικής κατάστασης κτιριακού ενεργητικού της Τράπεζας Πειραιώς </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Ομάδα διαχείρισης ακινήτων d-e, Τράπεζα Πειραιώς</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Νομικός και συμβολαιογραφικός έλεγχος ακινήτων</li>

            </ul>
            <div class="title">
                <h1>Σύστημα διαχείρισης ακινήτων Τράπεζας Πειραιώς</h1>
                <img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>

            <div class="icons">
                <br><img src="../ICONS/dataG.svg" alt="data icon"> <br>
            </div>


        </div>
        <div class="project horizontal_three" id="elounda">
            <div class="title">
                <h1>ΞΕΝΟΔΟΧΕΙΟ PORTO ELOUNDA & ΣΥΝΕΔΡΙΑΚΟ ΚΕΝΤΡΟ, ΕΛΟΥΝΤΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>

            <img class="large" src="../PHOTOS/elounda2.png" alt="elounda hotel" width="460">


            <ul class="info" style="text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ελούντα κρήτης, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Ξενοδοχειακή μονάδα & συνεδριακό κέντρο</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη </li>

            </ul>

            <!-- <div class="cost">
        <p class="label">Κόστος <br>Έργου</p>
        <p class="value"> €70 000 000 </p>
    </div> -->

            <div class="icons">
                <br><img src="../ICONS/hotelG.svg" alt="hotel icon"> <br>
                <br><img src="../ICONS/conventionG.svg" alt="convention icon">
            </div>


        </div>



        <!-- 2. PROJECT ERICSSON -->
        <div class="project  horizontal_two" id="ericsson">
            <br>
            <div class="title">
                <h1>ERICSSON ΚΕΝΤΡΙΚΑ, ΑΘΗΝΑ </h1>


                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>

            <img class="large" src="../PHOTOS/ericsson.jpg" width="400" alt="ericsson building">

            <!-- <p style="margin-top: -220px;
/* margin-bottom: 140px; */
margin-right: 50px;
margin-left: 700px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 750px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Αττική Οδός, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Γραφεία</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Διέυθυνση έργου & κατασκευή νέου κτιρίου</li>
                <br>
            </ul>


            <div class="icons">
                <img src="../ICONS/officeG.svg" width="34" alt="office icon">
            </div>

        </div>



        <!-- 3.PROJECT HARD ROCK CAFE  -->
        <div class="project horizontal_three" id="hardrockathens">
            <div class="title">
                <h1>HARD ROCK CAFE, ΑΘΗΝΑ </h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue"
                    src="../ICONS/underlineblue.svg" alt="blue tag"><img class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>

            <img class="large" src="../PHOTOS/hard-rock.jpg"  alt="hard rock cafe Athens building side view" width="460" >


            <!-- <p style="margin-top: -17px;

margin-right: 50px;
margin-left: 830px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 880px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->



            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Φιλελλήνων, Αθήνα, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Χώρος εστίασης</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη σε υφιστάμενο <br> κτίριο με
                    διατηρητέες όψεις, καθαίρεση<br> εσωτερικής κατασκευής & ανέγερση<br> νέου κτιρίου</li>
                <br>
                <br>
            </ul>

            <div class="icons">
                <br><img src="../ICONS/monumentG.svg" alt="monument icon"><br>
                <br><img src="../ICONS/shopG.svg"  alt="shop icon">

                <!-- <a href="https://www.flaticon.com/free-icons/spoon" title="spoon icons">Spoon icons created by Freepik - Flaticon</a> -->
            </div>

        </div>

        <!-- 4. PROJECT WINERYVAS  -->
        <div class="project horizontal_four" id="wineryvas">


            <img class="large" src="../PHOTOS//winery_vas.jpg" width="400" alt="winer vasilissis sofias">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ίλιον Αττικής, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Οινοποιείο</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Μελέτη στατικής επάρκειας <br>& αποκατάσταση φέρουσας
                    τοιχοποιίας & <br>αντικατάσταση νέας ξύλινης στέγης</li>

            </ul>
            <div class="title">
                <h1>ΟΙΝΟΠΟΙΕΙΟ ΠΥΡΓΟΥ ΒΑΣΙΛΙΣΣΗΣ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag"><img
                    class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>
            <br>

            <!-- 
<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 30px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 34px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <br><img src="../ICONS/monumentG.svg" alt="monument icon"> <br>
                <br><img src="../ICONS/wineG.svg" alt="winery icon">
            </div>

        </div>

        <!--5. PROJECT KASTRI KIFISIA  -->

        <div class="project  horizontal_five" id="kastri">
            <div class="title">
                <h1>ΞΕΝΟΔΟΧΕΙΟ DOMOTEL KASTRI & <br>ΣΥΝΕΔΡΙΑΚΟ ΚΕΝΤΡΟ, ΚΗΦΙΣΙΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag"><img
                    class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>

            <img class="large" src="../PHOTOS/kastri.jpg" width="400" alt="domotel kastri hotel">




            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Καστρί Κηφισιάς, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Ξενοδοχειακή μονάδα & κέντρο συνεδριάσεων</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Έλεγχος στατικής επάρκειας & ενισχύσεις
                    <br>υφισταμένων κατασκευών σύμφωνα με ΚΑΝ.ΕΠΕ. & <br> διεύθυνση έργου</li>

            </ul>
            <!-- 

<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 1020px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 1020px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <br><img src="../ICONS/hotelG.svg" alt="hotel icon"> <br>
                <br><img src="../ICONS/conventionG.svg" alt="convention icon">
            </div>
        </div>

        <!-- 6. PROJECT PIRGOS ASTEROID -->

        <div class="project vertical" id="asteroid">
            <div class="title">

                <h1>ΠΥΡΓΟΣ ASTEROID, ΛΕΥΚΩΣΙΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>

            <img class="large" src="../PHOTOS/asteroid.jpg" height="460" alt="asteroid tower">





            <ul class="info">
     
                <li class="textProjects"><strong>Τοποθεσία:</strong>Λευκωσία, Κύπρος </li>
               
                <li class="textProjects"><strong>Χρήση:</strong>Γραφεία</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Έλεγχος στατικής μελέτης κτιρίου <br> γραφείων &
                    έλεγχος στατικής επάρκειας &<br> ενισχύσεις υφισταμένων κατασκευών σύμφωνα<br> με ΚΑΝ.ΕΠΕ.</li>

            </ul>

            <!-- <p style="margin-top: -185px;
    
    margin-right: 50px;
    margin-left: 950px;
    color: rgb(57, 58, 59);
    text-transform: uppercase;
    font-size:xx-small;">Κόστος <br>Έργου</p>
    
    <p style="width: 100%;
    margin-right: 5px; 
    margin-left: 950px;    
    margin-top: 20px;
    color: rgb(204, 224, 247);
    font-size:x-large;
    writing-mode: vertical-lr;
    "> €70 000 000 </p>
     -->


            <div class="icons">
                <img src="../ICONS/officeG.svg" width="34" alt="office icon">

            </div>

        </div>


        <!-- 7.PROJECT REGINA  -->
        <div class="project horizontal_one" id="regina">
            <div class="title">
                <h1>ΞΕΝΟΔΟΧΕΙΟ REGINA MARE, ΘΕΣΠΡΩΤΙΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/regina.jpg" width="460" alt="Regina hotel">


            <ul class="info">

                <li class="textProjects"><strong>Τοποθεσία:</strong>Πέρδικα Θεσπρωτίας, Ελλάδα </li>
              
                <li class="textProjects"><strong>Χρήση:</strong>Ξενοδοχειακή μονάδα</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη νέων κτιρίων & <br>
                    έλεγχος στατικής επάρκειας & <br> ενίσχυσεις υφιστάμενων κατασκευών σύμφωνα με <br>
                    ΚΑΝ.ΕΠΕ.</li>

            </ul>

            <!-- <div class="cost">
        <p class="label">Κόστος <br>Έργου</p>
        <p class="value"> €70 000 000 </p>
    </div> -->

            <div class="icons">
                <br><img src="../ICONS/hotelG.svg" alt="hotel icon"> <br>

            </div>


        </div>



        <!-- 8. DIOROFES MEZONETES -->
        <div class="project  horizontal_two" id="diorofes_mezonetes">
            <br>
            <div class="title">
                <h1>2 ΔΙΩΡΟΦΕΣ ΜΕΖΟΝΕΤΕΣ<br>ΜΕ ΥΠΟΓΕΙΟ ΚΑΙ ΠΙΣΙΝΕΣ, ΒΑΡΗ </h1>


                <img class="tag red" src="../ICONS/underlinered.svg" alt="  red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>

            <img class="large" src="../PHOTOS/twomezonetes.png" width="400" alt="two maisonettes">

            <!-- <p style="margin-top: -220px;
/* margin-bottom: 140px; */
margin-right: 50px;
margin-left: 700px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 750px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->


            <ul ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Βάρη Αττικής, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη και επίβλεψη</li>
                <br>
            </ul>


            <div class="icons">
                <img src="../ICONS/houseG.svg" alt="house icon">
            </div>

        </div>



        <!-- 9.PROJECT PIRGOSVAS  -->
        <div class="project horizontal_three" id="pirgosvas">
            <div class="title">
                <h1>ΠΥΡΓΟΣ ΒΑΣΙΛΙΣΣΗΣ, ΙΛΙΟΝ </h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/pyrgos-vasilissis.jpeg" alt="Vasilissis tower building view " width="460" >


            <!-- <p style="margin-top: -17px;

margin-right: 50px;
margin-left: 830px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 880px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->



            <ul class="info">
               
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ίλιον Αττικής, Ελλάδα </li>
               
                <li class="textProjects"><strong>Χρήση:</strong>Χώρος εστίασης</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Μελέτη στατικής επάρκειας &
                    <br> αποκατάστασης βλαβών φέρουσας τοιχοποιίας <br>λόγω του σεισμού του 1999.<br> Kτίριο με
                    διατηρητέες όψεις, καθαίρεση
                    <br> εσωτερικής κατασκευής & ανέγερση νέου κτιρίου
                </li>
                <br>
                <br>
            </ul>

            <div class="icons">
                <br><img src="../ICONS/monumentG.svg" alt="monument icon"><br>
                <!-- <br><img src="shopG.svg" width="27"> -->

                <!-- <a href="https://www.flaticon.com/free-icons/spoon" title="spoon icons">Spoon icons created by Freepik - Flaticon</a> -->
            </div>

        </div>

        <!-- 10. PROJECT NEO KTIRIO 1 -->

        <div class="project vertical" id="neo_ktirio_one">
            <div class="title">

                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΑΘΗΝΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio1.png" height="300" alt="new building 1">





            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Θεοκρίτου 10, Αθήνα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη
                    τετραώροφου<br> κτιρίου με υπόγειο και πυλωτή</li>

            </ul>

            <!-- <p style="margin-top: -185px;
    
    margin-right: 50px;
    margin-left: 950px;
    color: rgb(57, 58, 59);
    text-transform: uppercase;
    font-size:xx-small;">Κόστος <br>Έργου</p>
    
    <p style="width: 100%;
    margin-right: 5px; 
    margin-left: 950px;    
    margin-top: 20px;
    color: rgb(204, 224, 247);
    font-size:x-large;
    writing-mode: vertical-lr;
    "> €70 000 000 </p>
     -->


            <div class="icons">
                <img src="../ICONS/houseG.svg" alt="house icon">

            </div>

        </div>

        <br>
        <!--11. PROJECT ALMEERASUPER  -->

        <div class="project  horizontal_five" id="almeerasuper">
            <div class="title">
                <h1>AL MEERA SUPERMARKET, DOHA</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/almeera.jpg" width="500" alt="Al meera supermarket">




            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Doha, Qatar </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Αλυσίδα Σουπερμάρκετ</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη επάρκειας και
                    ενισχύσεων <br>σε σύνολο 7102 m2 υφιστάμενωνκτιρίων αλυσίδας <br>σούπερ μαρκέτ & Στατική μελέτη
                    κατασκευών <br>
                    περιβάλλοντος χώρου με δομικό χάλυβα </li>

            </ul>



            <!-- 

<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 1020px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 1020px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img  src="hotelG.svg" width="25"> <br> -->
                <br><img src="../ICONS/shopG.svg" alt="shop icon">
            </div>
        </div>


        <!-- 12 .PROJECT MULTIPLEX CINEMA  -->
        <div class="project horizontal_one" id="multiplex_cinema">
            <div class="title">
                <h1>MULTIPLEX CINEMA, DOHA</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/multiplexdoha.png" width="460" alt="Multiplex cinema">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Al Mirqab Mall, Doha, Qatar </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κινηματογράφος</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη σε εργασίες
                    ανακαίνισης του κτιρίου </li>

            </ul>

            <!-- <div class="cost">
        <p class="label">Κόστος <br>Έργου</p>
        <p class="value"> €70 000 000 </p>
    </div> -->

            <div class="icons">
                <!-- <br><img src="hotelG.svg" width="25"> <br> -->
                <br><img src="../ICONS/cinemasG.svg" width="34" alt="cinema icon">
            </div>


        </div>



        <!-- 13. PROJECT PALM TOWERS -->
        <div class="project  horizontal_two" id="palm_towers">
            <br>
            <div class="title">
                <h1>PALM TOWERS, DOHA </h1>


                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/palmtowers.png" width="500" alt="Palm towers">

            <!-- <p style="margin-top: -220px;
/* margin-bottom: 140px; */
margin-right: 50px;
margin-left: 700px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 750px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->


            <ul ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Doha, Qatar </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Γραφεία </li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη σε εργασίες ανακαίνισης του κτιρίου
                </li>
                <br>
            </ul>


            <div class="icons">
                <img src="../ICONS/officeG.svg" width="34" alt="office icon">
            </div>

        </div>



        <!-- 14.PROJECT NEO KTIRIO 2 -->
        <div class="project horizontal_three" id="neo_ktirio_two">
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΠΕΙΡΑΙΑΣ </h1>
               <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio2.png" alt="new building 2 side view" width="250" >


            <!-- <p style="margin-top: -17px;

margin-right: 50px;
margin-left: 830px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 880px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->



            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Aγχιάλου 70, Πειραιάς, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη
                    πενταώροφου<br>κτιρίου με υπόγειο</li>
                <br>
                <br>
            </ul>

            <div class="icons">
                <!-- <br><img  src="monumentG.svg"  width="24"><br> -->
                <br><img src="../ICONS/houseG.svg" alt="house icon">

                <!-- <a href="https://www.flaticon.com/free-icons/spoon" title="spoon icons">Spoon icons created by Freepik - Flaticon</a> -->
            </div>

        </div>

        <!-- 15. PROJECT HARD ROCK DOHA  -->
        <div class="project horizontal_four" id="hardrockdoha">


            <img class="large" src="../PHOTOS/hardrockcafedoha.png" width="400" alt="hard rock cafe Doha">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Doha, Qatar </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Χώρος εστίασης</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη σε εργασίες <br>
                    ανακαίνισης του κτιρίου</li>

            </ul>
            <div class="title">
                <h1>HARD ROCK CAFE, DOHA</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>
            <br>

            <!-- 
<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 30px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 34px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img   src="monumentG.svg" width="24"> <br> -->
                <br><img src="../ICONS/cafeG.svg" alt="cafe icon">
            </div>

        </div>

        <!--16. TRAPEZA PEIRAIWS  -->

        <div class="project  horizontal_five" id="trapezapeiraiws">
            <div class="title">
                <h1>ΤΡΑΠΕΖΑ ΠΕΙΡΑΙΩΣ, ΕΛΛΑΔΑ, ΣΕΡΒΙΑ, <br>ΒΟΥΛΓΑΡΙΑ, ΡΟΥΜΑΝΙΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>

            <img class="large" src="../PHOTOS/peiraiws.png" width="250" alt="Peiraiws bank building interior">




            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ελλάδα, Σερβία, Βουλγαρία & Ρουμανία</li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Τραπεζικά καταστήματα</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Σχεδιασμός και Διεύθυνση
                    Έργου σε <br>περισσότερο 50 από καταστήματα της Τράπεζας <br>Πειραιώς</li>

            </ul>
            <!-- 

<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 1020px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 1020px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img  src="hotelG.svg" width="25"> <br> -->
                <br><img src="../ICONS/bankG.svg" alt="bank icon">
            </div>
        </div>



        <!-- 17.PROJECT TRAPEZA PEIRAIWS GR -->
        <div class="project horizontal_one" id="trapezapeiraiws_gr">
            <div class="title">
                <h1>ΤΡΑΠΕΖΑ ΠΕΙΡΑΙΩΣ, ΕΛΛΑΔΑ</h1>
                <img class="tag green" src="../ICONS/underlinegreen.svg" alt="green tag">
            </div>

            <img class="large" src="../PHOTOS/peiraiws_gr.svg" width="460" alt="software sample image">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Τραπεζικό κατάστημα</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Aξιολόγηση ακινήτων σχετικά
                    με την συμβολαιογραφική τους ωριμότητα ώστε να είναι έτοιμα προς μεταβίβαση</li>

            </ul>

            <!-- <div class="cost">
        <p class="label">Κόστος <br>Έργου</p>
        <p class="value"> €70 000 000 </p>
    </div> -->

            <div class="icons">
                <!-- <br><img src="hotelG.svg" width="25"> <br> -->
                <br><img src="../ICONS/bankG.svg" alt="bank icon">
            </div>


        </div>



        <!-- 18. PROJECT NEO KTIRIO 3-->
        <div class="project  vertical" id="neo_ktirio_three">
            <br>
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΡΑΦΗΝΑ </h1>


                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio3.png" alt="new building 3" height="300" >

            <!-- <p style="margin-top: -220px;
/* margin-bottom: 140px; */
margin-right: 50px;
margin-left: 700px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 750px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->


            <ul ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Αθηνών 43, Ραφήνα, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη τετραώροφου κτιρίου<br>με υπόγειο και
                    πυλωτή</li>
                <br>
            </ul>


            <div class="icons">
                <img src="../ICONS/houseG.svg" alt="house icon">
            </div>

        </div>
        <br>



        <!-- 19.PROJECT NEO KTIRIO 4 -->
        <div class="project horizontal_three" id="neo_ktirio_four">
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΑΘΗΝΑ </h1>
               <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio4.png" alt="new building 4 perspective view" width="360" >


            <!-- <p style="margin-top: -17px;

margin-right: 50px;
margin-left: 830px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 880px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->



            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Πραξαγόρα 16, Αθήνα, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη οχταώροφου <br>κτιρίου με υπόγειο
                    και πυλωτή</li>
                <br>
                <br>
            </ul>

            <div class="icons">
                <!-- <br><img  src="monumentG.svg"  width="24"><br> -->
                <br><img src="../ICONS/houseG.svg" alt="house icon">

                <!-- <a href="https://www.flaticon.com/free-icons/spoon" title="spoon icons">Spoon icons created by Freepik - Flaticon</a> -->
            </div>

        </div>

        <!-- 20. PROJECT CYTA  -->
        <div class="project horizontal_four" id="cyta">


            <img class="large" src="../PHOTOS/cyta.png" width="500" alt="Cyta data center building">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Φαβιέρου & Χλόης, Μεταμόρφωση, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Data center</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Διεύθυνση έργου για
                    μετατροπή <br>υφιστάμενου κτιρίου σε κτίριο με χρήση data center</li>

            </ul>
            <div class="title">
                <h1>ΚΤΙΡΙΟ DATA CENTER,<br>CYTA, ΜΕΤΑΜΟΡΦΩΣΗ</h1>
                <img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>
            <br>

            <!-- 
<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 30px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 34px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img   src="monumentG.svg" width="24"> <br> -->
                <br><img src="../ICONS/dataG.svg" alt="data icon">
            </div>

        </div>

        <!--21. PROJECT EKALI  -->

        <div class="project  horizontal_five" id="ekali">
            <div class="title">
                <h1>ΚΑΤΟΙΚΙΕΣ, ΕΚΑΛΗ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>

            <img class="large" src="../PHOTOS/ekali.png" width="460" alt="building in Ekali">




            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Άλσους & Θησέως, Εκάλη, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Διεύθυνση έργου, μελέτη
                    στατικής<br> επάρκειας, ενισχύσεις φέροντος οργανισμού<br> και μελέτη νέας πισίνας σε συγκρότημα
                    κατοικιών</li>

            </ul>
            <!-- 

<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 1020px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 1020px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img  src="hotelG.svg" width="25"> <br> -->
                <br><img src="../ICONS/houseG.svg" alt="house icon">
            </div>
        </div>




        <!-- 22.PROJECT NEO KTIRIO 5  -->
        <div class="project vertical" id="neo_ktirio_five">
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΑΘΗΝΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio5.png" height="300" alt="new building 5">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ιόλης 3, Αθήνα, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη τετραώροφου<br>κτιρίου με δύο υπόγεια
                    και πυλωτή </li>

            </ul>

            <!-- <div class="cost">
        <p class="label">Κόστος <br>Έργου</p>
        <p class="value"> €70 000 000 </p>
    </div> -->

            <div class="icons">
                <!-- <br><img src="hotelG.svg" width="25"> <br> -->
                <br><img src="../ICONS/houseG.svg" alt="house icon">
            </div>


        </div>



        <!-- 23. PROJECT NEO KTIRIO 6 -->
        <div class="project  horizontal_two" id="neo_ktirio_six">
            <br>
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΑΘΗΝΑ </h1>


                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio6.png" width="300" alt="new building 6">

            <!-- <p style="margin-top: -220px;
/* margin-bottom: 140px; */
margin-right: 50px;
margin-left: 700px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 750px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->


            <ul ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Αγίου Θωμά 5, Αθήνα, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη
                    οχταώροφου κτιρίου <br>με δύο υπόγεια και πυλωτή</li>
                <br>
            </ul>


            <div class="icons">
                <img src="../ICONS/houseG.svg" alt="house icon">
            </div>

        </div>



        <!-- 24.PROJECT ELOUNDA 2  -->
        <div class="project horizontal_three" id="elounda_two">
            <div class="title">
                <h1>ΞΕΝΟΔΟΧΕΙΟ ELOUNDA PENINSULA, ΕΛΟΥΝΤΑ </h1>
            <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/elounda-peninsula.jpg" alt="Elounda peninsula hotel top view" width="520" >


            <!-- <p style="margin-top: -17px;

margin-right: 50px;
margin-left: 830px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 880px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->



            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Ελούντα, Κρήτης, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Ξενοδοχείο</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη σε νέα<br>κτίρια ξενοδοχειακού
                    συγκροτήματος<br>Εlounda Peninsula</li>
                <br>
                <br>
            </ul>

            <div class="icons">
                <br><img src="../ICONS/hotelG.svg" alt="hotel icon"><br>
                <!-- <br><img src="shopG.svg"  > -->

                <!-- <a href="https://www.flaticon.com/free-icons/spoon" title="spoon icons">Spoon icons created by Freepik - Flaticon</a> -->
            </div>

        </div>

        <!-- 25. PROJECT NEO KTIRIO 7  -->
        <div class="project horizontal_four" id="neo_ktirio_seven">


            <img class="large" src="../PHOTOS/neoktirio7.png" alt="new building 7" width="400" >


            <ul class="info"> 
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Κηφισίας 248 & Σερρών, Χαλάνδρι, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Γραφεία & καταστήματα</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη &<br>διεύθυνση έργου για κτίριο<br>με
                    τέσσερα υπόγεια</li>

            </ul>
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ ΓΡΑΦΕΙΩΝ &<br> ΚΑΤΑΣΤΗΜΑΤΩΝ,ΧΑΛΑΝΔΡΙ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg"  alt="blue tag">
            </div>
            <br>

            <!-- 
<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 30px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 34px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <br><img src="../ICONS/officeG.svg" width="34" alt="office icon"> <br>
                <br><img src="../ICONS/shopG.svg" alt="shop icon">
            </div>

        </div>

        <!--26. PROJECT MARFIN BANK  -->

        <div class="project  horizontal_five" id="marfinbank">
            <div class="title">
                <h1>ΤΡΑΠΕΖΑ MARFIN,<br>ΚΑΤΑΣΤΗΜΑΤΑ, ΣΕΡΒΙΑ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>

            <img class="large" src="../PHOTOS/marfin.png" width="250" alt="Marfin bank building">




            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Σερβία</li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Τραπεζικά καταστήματα</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Σχεδιασμός & διεύθυνση<br>
                    έργου σε περισσότερο από 25 καταστήματα</li>

            </ul>
            <!-- 

<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 1020px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 1020px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img  src="hotelG.svg" > <br> -->
                <br><img src="../ICONS/bankG.svg" alt="bank icon">
            </div>
        </div>


        <!-- 27.PROJECT G4S -->
        <div class="project horizontal_one" id="g4s">
            <div class="title">
                <h1>G4S-Group4,<br>ΕΤΑΙΡΕΙΑ SECURITY,ΡΕΝΤΗΣ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/g4s.png" width="480" alt="G4s building">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Πέτρου Ράλλη, Ρέντης, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
        <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Γραφεία</li>
                <li class="textProjects"><strong>Υπηρεσία:</strong>Μελέτη στατικής επάρκειας &<br>ενισχύσεις φέροντος
                    οργανισμού.</li>

            </ul>

            <!-- <div class="cost">
        <p class="label">Κόστος <br>Έργου</p>
        <p class="value"> €70 000 000 </p>
    </div> -->

            <div class="icons">
                <br><img src="../ICONS/hotelG.svg" alt="hotel icon"> <br>
                <br><img src="../ICONS/conventionG.svg" alt="convention icon">
            </div>


        </div>



        <!-- 28. PROJECT PAPAELLINAS -->
        <div class="project  horizontal_two" id="papaellinas">
            <br>
            <div class="title">
                <h1>ΚΩΣΤΑΣ ΠΑΠΑΕΛΛΗΝΑΣ(ΕΛΛΑΣ),<br>ΚΟΡΩΠΙ</h1>


                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/papaellinas.png" width="250" alt="Paparllinas building interior">

            <!-- <p style="margin-top: -220px;
/* margin-bottom: 140px; */
margin-right: 50px;
margin-left: 700px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 750px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->


            <ul ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Κορωπί Αττικής, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Γραφεία</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Ανακαίνιση υφισταμένων<br>εγκαταστάσεων & στατική
                    μελέτη νέας<br>κτιριακής μονάδας</li>
                <br>
            </ul>


            <div class="icons">
                <img src="../ICONS/officeG.svg" width="34" alt="office icon">
            </div>

        </div>



        <!-- 29.PROJECT NEI KTIRIO 8  -->
        <div class="project horizontal_three" id="neo_ktirio_eight">
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΜΑΡΟΥΣΙ</h1>
           <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio8.png" alt="new building 8 photo street view" width="260" >


            <!-- <p style="margin-top: -17px;

margin-right: 50px;
margin-left: 830px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 880px;    
margin-top: -20px;
color: rgb(204, 224, 247);

font-size:x-large;"> €70 000 000 </p> -->



            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Δάφνης 59, Μαρούσι, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong> Στατική μελέτη σε συγκρότημα <br> κατοικιών</li>
                <br>
                <br>
            </ul>

            <div class="icons">
                <!-- <br><img  src="monumentG.svg" ><br> -->
                <br><img src="../ICONS/houseG.svg" id="shop" alt="house icon">

                <!-- <a href="https://www.flaticon.com/free-icons/spoon" title="spoon icons">Spoon icons created by Freepik - Flaticon</a> -->
            </div>

        </div>

        <!-- 30. PROJECT FNAC GLF  -->
        <div class="project horizontal_four" id="fnacglf">


            <img class="large" src="../PHOTOS/fnac.png" width="400" alt="Fnac building">


            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Γλυφάδα Αττικής, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατάστημα</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Διεύθυνση έργου σε αλλαγή<br> χρήσης από ξενοδοχείο
                    σε
                    εμπορικό κέντρο<br> με στατικές
                    ενισχύσεις στον φέροντα
                    οργανισμό<br> του κτιρίου</li>

            </ul>
            <div class="title">
                <h1>FNAC, ΓΛΥΦΑΔΑΣ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag"><img class="tag blue" src="../ICONS/underlineblue.svg" alt="blue tag">
            </div>
            <br>

            <!-- 
<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 30px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 34px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">
                <!-- <br><img   src="monumentG.svg"> <br> -->
                <br><img src="../ICONS/shopG.svg" alt="shop icon">
            </div>

        </div>

        <!--31. PROJECT NEO KTIRIO 9-->

        <div class="project  horizontal_five" id="neo_ktirio_nine">
            <div class="title">
                <h1>ΝΕΟ ΚΤΙΡΙΟ, ΜΑΡΟΥΣΙ</h1>
                <img class="tag red" src="../ICONS/underlinered.svg" alt="red tag">
            </div>

            <img class="large" src="../PHOTOS/neoktirio9.png" width="480" alt="new building 9">




            <ul class="info">
                <!-- <li class="textProjects1">Κόστος <br>Έργου: <div class="prices"> €70 000 000 </div></li> -->
                <li class="textProjects"><strong>Τοποθεσία:</strong>Αρτέμιδος & Διονύσου,<br>Μαρούσι, Ελλάδα </li>
                <!-- <li class="textProjects"><strong>Πελάτης:</strong></li>
    <li class="textProjects"><strong>Χρονική Περίοδος:</strong></li> -->
                <li class="textProjects"><strong>Χρήση:</strong>Κατοικίες</li>

                <li class="textProjects"><strong>Υπηρεσία:</strong>Στατική μελέτη σε<br>συγκρότημα κατοικιών</li>

            </ul>
            <!-- 

<p style="margin-top: -257px;

margin-right: 50px;
margin-left: 1020px;
color: rgb(57, 58, 59);
text-transform: uppercase;
font-size:xx-small;">Κόστος <br>Έργου</p>

<p style="width: 100%;
margin-right: 5px; 
margin-left: 1020px;    
margin-top: 20px;
color: rgb(204, 224, 247);
font-size:x-large;
writing-mode: vertical-lr;
"> €70 000 000 </p> -->

            <div class="icons">

                <br><img src="../ICONS/houseG.svg" alt="house icon">
            </div>
        </div>

    </div>

    <div class="side">
        <p class="red" onmouseover="enablesidered()" onmouseleave="disablesidered()">μελετη</p> <br>
        <p class="blue" onmouseover="enablesideblue()" onmouseleave="disablesideblue()">διαχειριση</p> <br>
        <p class="green" onmouseover="enablesidegreen()" onmouseleave="disablesidegreen()">αξιολογηση</p><br>

    </div>

    <!-- <div class="footer">
        <p><a href="index.html" style="text-decoration:none; color:green;">en</a></p>
    </div> -->

    <div class="footer">
        <!-- <p><a href="../EN/projects.html" style="text-decoration:none; color:green;">en</a></p> -->
       </div>
     </body>

    <script>function enablesidered() {
            document.querySelectorAll('.tag.red').forEach(item => {
                item.classList.add("sideeffectred")
                console.log("hey")
            })
        }
        function disablesidered() {
            document.querySelectorAll('.tag.red').forEach(item => {
                item.classList.remove("sideeffectred")
                console.log("hey")
            })
        }

        function enablesideblue() {
            document.querySelectorAll('.tag.blue').forEach(item => {
                item.classList.add("sideeffectblue")
                console.log("hey")
            })
        }
        function disablesideblue() {
            document.querySelectorAll('.tag.blue').forEach(item => {
                item.classList.remove("sideeffectblue")
                console.log("hey")
            })
        }

        function enablesidegreen() {
            document.querySelectorAll('.tag.green').forEach(item => {
                item.classList.add("sideeffectgreen")
                console.log("hey")
            })
        }
        function disablesidegreen() {
            document.querySelectorAll('.tag.green').forEach(item => {
                item.classList.remove("sideeffectgreen")
                console.log("hey")
            })
        }

    </script>
</body>


</html>