/* } */

/* #elounda .cost{
    vertical-align: bottom;
    margin-bottom: 40px;
} */


@media (min-width: 800px) { 

    
.horizontal_one .title {
        margin-left: -13px;
        vertical-align: top;
     }
     .horizontal_one .info {
        text-align:left;
    vertical-align:top;
margin-left: 520px;
margin-top:-299px;}

.horizontal_one img.large{
        margin-left: 80px;
       margin-bottom: -12px;
    }

   
    .horizontal_two .title {
    margin-right: -15px;
       text-align:right;
       vertical-align:top;
     
     
    }

    .horizontal_two.project img.large{
        margin-left: 80px;
        margin-top:-40px;
       
    }

    .horizontal_two .info {
        text-align:right;
    vertical-align: bottom;
    margin-left: 550px;
    margin-top: -70px;
}


   .horizontal_three .title {
        margin-right: -15px;
        text-align:right;
    }



    .horizontal_three.project img.large{
        margin-left: 400px;
        vertical-align: center;

    }

    .horizontal_three .info {
        text-align:right;
    vertical-align: bottom;
    margin-left: -5px;
    margin-top: -100px;
}

#pirgosvas.horizontal_three .info {
    text-align:right;
    vertical-align: bottom;
    margin-left: -2px;
    margin-top: -100px;

}




.horizontal_four .title {
        margin-left: 600px;
        vertical-align: bottom;
    margin-top:-70px;}

.horizontal_four.project img.large{
    margin-left: -36px;
    padding:24px;
}



.horizontal_four .info {
    text-align:right;
vertical-align:top;
padding:24px;}


  
 .horizontal_five .title {
        margin-left: 30px;
        margin-top: -0px
        

    }

    .horizontal_five.project img.large{
    margin-left: 510px;
    margin-top: -60px;
}

.horizontal_five .info {
    text-align:left;
vertical-align: bottom;
margin-left:-15px;
margin-top:-95px;
padding:20px;
} 




     .vertical .title {
        margin-left: 130px;
        margin-top:120px;
    }

    .vertical.project img.large{
      
    margin-left: 470px;
    margin-top: -130px;
    margin-bottom:-20px;
}

.vertical .info {
    text-align:left;
vertical-align: bottom;
margin-left:20px;
margin-top: -145px;
margin-bottom: -30px;
padding:24px;
} 



}

/* ---services page --- */

.flexbox-container{
display: flex;
flex-wrap: wrap;
height:fit-content;


/* horizontal */
justify-content:center;
/* vertical */
align-items: stretch;

text-align: left;
 border: 1px solid black;  margin-left: 20px; margin-right: 20px;
 margin-bottom: 10px;

}

.flexbox-item{
  width: 200px;
  margin: 10px;
  /* height:fit-content; */
  /* border: 3px solid pink; */


}
.flexbox-item-1{
    min-height: 100px;
    flex-shrink: 0;
   min-width: 400px;
    
}



.flexbox-item-3{
    min-height: 300px;
    flex-shrink: 0;
}
.flexbox-item-4{
    min-height: 300px;
    flex-shrink: 0;
    min-width: 600px;
    /* height: fit-content; */
    
}



li {
    
        list-style-type: none;
        padding: 2px;
        
}