
*{
    margin: 0;
    padding: 0;
    font-family: AnonymousPro;
}


@font-face {
    font-family: AnonymousPro;
    src: url(AnonymousPro-Regular.ttf);
}
@font-face {
    font-family: AnonymousPro;
    src: url(AnonymousPro-Bold.ttf);
    font-weight: bold;
}
.header {
    padding: 20px;
    text-align: right;
    color: rgb(100, 102, 102);
    font-size: 12px;
    text-transform: uppercase;
  }

  .header2 {
    
    text-align: right;
    color: rgb(100, 102, 102);
    font-size: 11px;
    text-transform: lowercase;
  }
.navbar{
    width: 85%;
    margin: auto ;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 120px;
    cursor: pointer; 
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(100, 102, 102);
    text-transform: uppercase;
}
.navbar .active::after,
.navbar ul li ::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #323737;
    position: absolute;
    left: 0;
    bottom: -0.3px;
    transition: 0.5s; 
} 

.navbar .active::after,
.navbar ul li:hover ::after{
    width: 150%;
}
  
.main {
margin: 0 auto;
padding: 30px 20px;


bottom: 0;
padding-bottom: 58px;
}

.project{
    border: 2px solid rgb(112, 186, 211) 


}

.categories
{
    border: 2px solid rgb(191, 218, 227) 

 

}




h1 {
    display: block;
  font-size: 1.5em;
  margin-top: 0.67em;
  margin-bottom: 1px;
  /* margin-left: 10px; */
  font-weight: thin;
}



.contaxt{
    color: rgb(100, 102, 102);
    font-weight:thin;
    margin-bottom: 1px;
  text-align-last: right;
  margin-right: 50px;
  font-size: medium;
}




.textProjects {margin-top: 1px;
    font-weight: light ;
    margin-right: 50px;
    margin-left: 40px;
    color: rgb(100, 102, 102);
    /* text-transform: uppercase; */
    font-size:medium;
  

}



h1{
    color: rgb(100, 102, 102);
    font-weight: 20;
}

.project{
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width:1050px;
    margin-bottom:20px;
}

.project ul{
    list-style:none;
}

.project .cost .label{
    text-transform: uppercase;
    font-size:xx-small;
    color: rgb(100, 102, 102);
}

.project .cost .value{
    color: rgb(112, 186, 211);
    font-size:x-large;
    width: 100%;
}

h1 ~ .tag{ /* tag after a title */
    margin-top: -6px;
    margin-bottom: 10px;
    text-align: left;
    height: 9px;
}



.info {
    font-weight:100;
    color: rgb(100, 102, 102);
}

.project img.large,
.project .info,
.project .cost {
    display: inline-block;
  
}

.project .icons{

     position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.2;
   
   }

.sxedia {
    /* position: absolute; */
    opacity: 0.1;

   }

.side { font-size: 20px;
    text-transform: uppercase;
    text-align:right;
    position:fixed;
    display: flex;
    right: 15px;
    top: 200px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: 100;
    cursor: pointer;
    
    
    }

    .sideSERV { font-size: 20px;
        text-transform: uppercase;
        text-align:right;
        position:fixed;
        display: flex;
        right: 15;
        top: 200px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-weight: 100;
        cursor: pointer;
        
        
        }


.side .green {
 
    color: rgb(0, 128, 51);
margin-bottom: 20px;
background-color: rgb(197, 219, 206);
  }

  .side .blue {
 
    color: rgb(112, 186, 211);
    margin-bottom: 20px;
   background-color: rgb(229, 236, 238);
   
 
  }

  .side .red {
 
    color: rgb(170, 0, 0);
    margin-bottom: 20px;
    margin-top: 80px;
    background-color: rgb(246, 233, 228);
   
  }



.sideSERV .green {
 
    color: rgb(0, 128, 51);
margin-bottom: 20px;
background-color: rgb(197, 219, 206);
  }

  .sideSERV .blue {
 
    color: rgb(112, 186, 211);
    margin-bottom: 20px;
   background-color: rgb(229, 236, 238);
   
 
  }

  .sideSERV .red {
 
    color: rgb(170, 0, 0);
    margin-bottom: 20px;
    margin-top: 80px;
    background-color: rgb(246, 233, 228);
   
  }

 
.sideeffectred {
    filter: contrast(6);
    transform: scale(1.2);
    transition: transform 0.4s;
}

.sideeffectblue {
    filter: contrast(3);
    transform: scale(1.2);
    transition: transform 0.4s;
}
.sideeffectgreen {
    filter: contrast(9);
    transform: scale(1.2);
    transition: transform 0.4s;
}




.footer {
 
    /* color: rgb(0, 128, 51); */
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer; 
    left: 12px;;
    bottom: 20px;
    width: 100%;
    padding: 30px 20px;
    position:fixed;
  }
