<div>
    <div>ONE§</div>
    <div>TWO</div>
    <div>THREE</div>
</div>
<div>
    <div>ONE§</div>
    <div class="mydiv">TWO</div>
    <div>THREE</div>
</div>
<style>
    div>*{
        display: inline-block;
        height: 100px;
        width: 100px;
        border: 1px solid black;
        vertical-align: top;
    }
    .mydiv{
        width: 200px;
        margin-top: 40px;
    }
</style>